body {
  margin: 0px;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  min-width: 1300px;
}

.container {
  padding: 0px 30px;
  width: 1200px;
  margin: 0 auto;
  max-block-size: 10%;
  height: 4409px;
}

.header {height: 303px;}
.header-top {height: 37px;}
.header-down {height: 266px;}

.text1 {
  position: absolute;
  color: cornsilk;
  margin-top: -100px;
}

.text2 {
  position: relative;
  color: cornsilk;
  bottom: 83px;
  width: 170px;
  left: 1030px;
}

.upPanel {
  margin: 0;
	padding: 0;
  background-color: #36b5ff;
  border: 18px solid #36b5ff;
}
  
.location {
  position: relative;
  left: 1010px;
  bottom: 100px;
  width: 20px;
  height: 19px;
}
  
.logo {
  height: 95px;
  position: relative;
  bottom: 60px;
  text-align: left;
  width: 100px;
}
  
.workTime {
  position: relative;
  bottom: 120px;
  width: 370px;
  left: 420px;
}

.clock {
  position: relative;
  bottom: 140px;
  text-align: center;
  left: 390px;
  width: 20px;
  height: 25px;
}
  
.numberPhone2 {
  position: relative;
  margin: 0 auto;
  bottom: 175px;
  width: 120px;
  left: 545px;
}
  
.numberPhone1 {
  position: relative;
  margin: 0 auto;
  bottom: 185px;
  width: 120px;
  left: 545px;
}
  
.stationPhone1 {
  position: relative;
  margin: 0 auto;
  bottom: 220px;
  left: 475px;
  width: 20px;
}
  
.stationPhone2 {
  position: relative;
  margin: 0 auto;
  bottom: 210px;
  left: 475px;
  width: 20px;
}

.panel {
  border: 0.1px solid rgba(212, 212, 212, 1);
  padding: 20px;
  font-size: 11.78px;
}
.panel:hover{
  background-color: #36b5ff;
  transition: 0.5s;
}
  
.panel1 {
  border: 0.1px solid rgba(212, 212, 212, 1);
  margin: 0;
	padding: 0;
  padding-right: 95%;
  position: relative;
  top: 165%;
  height: 54px;
}
  
.basket {
  position: absolute;
  margin-left: 1160px;
  top: 190px;
  height: 45px;
}
  
.tablet {
  border: 1px solid #636666;
  background-color: #636666;
  width: 280px;
  height: 90px;
  position: absolute;
  top: 580px;
}

.text_a {
  font-size: 13px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.text_aa {
  font-size: 14px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.img-tablet-a {
 margin-top: -65px;
 margin-left: 4px;
}

.b {margin-left: 302px;}
.text_b {
  font-size: 13px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.text_bb {
  font-size: 14px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.img-tablet-b {
  margin-left: 4px;
 margin-top: -65px;
}

.c {margin-left: 610px;}
.text_c {
  font-size: 13px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.text_cc {
  font-size: 14px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.img-tablet-c {
  margin-left: 5px;
 margin-top: -60px;
}

.d {margin-left: 917px;}
.text_d {
  font-size: 13px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.text_dd {
  font-size: 14px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.img-tablet-d {
 margin-left: 5px;
 margin-top: -60px;
}

.background {
  z-index: -1;
  height: 450px;
  border: 0px solid;
  background-color: #f5f5f5;
  position: relative;
  top: 150px;
}

.OutsideTheContainer {height: 90px;}

.text3 {
  position: relative;
  top: 90px;
  font-size: 25px;
  height: 1356px;
}
.borders {
  position: relative;
  top: 40px;
  border: 1px solid;
  height: 400px;
  width: 280px;
}
.table-new {
  position: relative;
  top: 5px;
  left: 5px;
  border: 0px solid;
  height: 15px;
  width: 60px;
  background-color: rgb(9, 185, 9);
  color: white;
  font-size: 10px;
  text-align: center;
  padding-top: 6px;
}
.type {
  color: #929292;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 20px;
}
.name {
  font-size: 20px;
  margin-left: 20px;
  color: black;
}
.tab {
  color: white;
  border: 0px solid;
  background-color: #36b5ff;
  font-size: 17px;
  width: 110px;
  text-align: center;
  margin-top: 30px;
  height: 25px;
  padding-top: 5px;
  margin-left: 15px;
}
.tab:hover{opacity: 70%;transition: 0,5s;}
.price {
  margin-top: -32px;
  margin-left: 150px;
  color: #df8620;
}
.img_border {
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}
.new_two {left: 302px;top:-361px;}
.new_three {left: 610px;top:-763px;}
.new_four {left: 917px;top:-1165px;}
.new_five {top:-1140px;}
.new_six {left: 302px;top:-1541px;}
.new_seven {left: 610px;top:-1943px;}
.new_eight {left: 917px;top:-2345px;}
.new_nine {top:-2321px;}
.new_ten {left: 302px;top:-2723px;}
.new_eleven {left: 610px;top:-3125px;}
.new_twelve {left: 917px;top:-3526px;}

.homepage-top {height: 1726px;}

.banner {margin-top:30px;}

.text4 {
  position: relative;
  top: 40px;
  font-size: 25px;
  height: 500px;
}
.table-hit {
  position: relative;
  top: 5px;
  left: 5px;
  border: 0px solid;
  height: 15px;
  width: 45px;
  background-color: rgb(212, 181, 7);
  color: white;
  font-size: 10px;
  text-align: center;
  padding-top: 6px;
}
.crossed-out-price {
  font-size: 17px;
  margin-left: 190px;
  margin-top: -40px;
  color: #929292;
}
.price_hit {
  margin-top: -25px;
  margin-left: 180px;
  color: #df8620;
  font-size: 20px;
}
.hit_two {left: 302px;top:-361px;}
.hit_three {left: 610px;top:-763px;}
.hit_four {left: 917px;top:-1165px;}

.text5 {
  position: relative;
  top: 40px;
  font-size: 25px;
  height: 500px;
}
.table-stock {
  position: relative;
  top: 5px;
  left: 5px;
  border: 0px solid;
  height: 15px;
  width: 45px;
  background-color: rgb(212, 7, 7);
  color: white;
  font-size: 10px;
  text-align: center;
  padding-top: 6px;
}
.price_stock {
  margin-top: -25px;
  margin-left: 180px;
  color: #df8620;
  font-size: 20px;
}
.stock_two {left: 302px;top:-361px;}
.stock_three {left: 610px;top:-763px;}
.stock_four {left: 917px;top:-1165px;}

.background2 {
  z-index: -1;
  height: 400px;
  border: 0px solid;
  background-color: #f5f5f5;
  position: relative;
  top: 2900px;
}

.tablets {
  border: 0px solid;
  background-color: white;
  width: 191.6px;
  height: 140px;
  position: relative;
}
.tablet-one {text-align: center;}
.tablet-two {bottom: 140px;left: 200px;}
.tablet-three {bottom: 280px;left: 400px;}
.tablet-four {bottom: 420px;left: 600px;}
.tablet-five {bottom: 560px;left: 800px;}
.tablet-six {bottom: 700px;left: 1000px;}
.tablet-seven {bottom: 690px;}
.tablet-eight {bottom: 830px;left: 200px;}
.tablet-nine {bottom: 970px;left: 400px;}
.tablet-ten {bottom: 1110px;left: 600px;}
.tablet-eleven {bottom: 1250px;left: 800px;}
.tablet-twelve {bottom: 1390px;left: 1000px;}
.img {text-align: center;padding-top: 50px;}
.apple {padding-top: 50px;}
.acer {padding-top: 50px;}
.tabletss {height: 300px;margin-top:120px;}

.description {
  position: relative;
  top: 120px;
  font-size: 25px;
}

.main_text {
  font-size: 20px;
  position: relative;
  top: 20px;
  color: #929292;
  width: 696px;
}

.news {
  font-size: 23px;
  position: relative;
  left: 900px;
  bottom: 340px;
  width: 200px;
}

.homepage-down {height: 2350px;}

a {text-decoration: none;}

.sum {
  left: 26px;
  bottom: 50px;
  position: relative;
  width: 20px;
  text-align: center;
  border: 1px solid red;
  background-color: red;
  border-radius: 20px;
  height: 17px;
}

#empty {text-align: center;}

#empty_trash {
  position: relative;
  border: 1px solid #878787;
  background-color: #878787;
  width: 150px;
  left: 1015px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  color: #3a3a3a;
}
#empty_trash:hover{opacity: 80%;}

li {list-style-type: none;}

.name_basket {
  left: 387px;
  position: relative;
  bottom: 160px;
  text-align: left;
  width: 536px;
}

.amount {
  position: relative;
  bottom: 210px;
  left: 943px;
  width: 20px;
  font-size: 20px;
}

.plus {
  width: 12px;
  position: relative;
  left: 919px;
  bottom: 232px;
  font-size: 20px
}

.minus {
  height: 22px;
  width: 12px;
  position: relative;
  left: 969px;
  bottom: 257px;
  font-size: 20px;
}

.delete {
  width: 70px;
  position: relative;
  left: 1063px;
  bottom: 278px;
  color: #5e5e5e;
}

.basket_price {
  position: relative;
  font-size: 30px;
  bottom: 220px;
  text-align: center;
}

.pay {
  position: relative;
  left: 380px;
  bottom: 257px;
  width: 91px;
  border: 1px solid #36b5ff;
  background-color: #36b5ff;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  color: #3a3a3a;
}
#borders-basket {height: 153px;}
#borders_catalog {display: block;}

.fullprice {
  position: absolute;
  top: 115px;
  z-index: -1;
  display: block;
  margin-left: 555px;
}

.pay-the-bill {
  position: absolute;
  margin-left: 442px;
  height: 56px;
  width: 91px;
  border: 1px solid #36b5ff;
  background-color: #36b5ff;
  text-align: center;
  border-radius: 20px;
  color: #3a3a3a;
  top: 120px;
}
.pay-the-bill:hover {opacity: 75%;}

#fullprice-number {
  position: relative;
  text-align: center;
  bottom: 98px;
  z-index: -1;
  font-size: 30px;
}

.currency {
  position: relative;
  left: 645px;
  width: 200px;
  bottom: 295px;
  color: #df8620;
}
.currency_fullprice {
  color: #df8620;
  width: 200px;
  left: 650px;
  bottom: 135px;
  display: none;
}

.panel_buttom {    
  position: relative;
  display: flex;
  top: -152px;
}