body {
  margin: 0px;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  min-width: 1100px;
}

.container {
  padding: 0px 30px;
  width: 1000px;
  margin: 0 auto;
  max-block-size: 10%;
}

.text1 {
  position: absolute;
  color: cornsilk;
  margin-top: -100px;
}

.text2 {
  position: relative;
  color: cornsilk;
  text-align: right;
  bottom: 83px;
}

.upPanel {
  position: top;
  margin: 0;
	padding: 0;
  background-color: #36b5ff;
  border: 18px solid #36b5ff;
}
  
.location {
  position: relative;
  text-align: right;
  right: 170px;
  bottom: 100px;
}
  
.logo {
  position: relative;
  bottom: 60px;
  text-align: left;
}
  
.workTime {
  position: relative;
  text-align: left;
  bottom: 120px;
  text-align: center;
}

.clock {
  position: relative;
  text-align: left;
  bottom: 140px;
  text-align: center;
  right: 200px;
}
  
.numberPhone2 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 175px;
}
  
.numberPhone1 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 185px;
}
  
.stationPhone1 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 220px;
  right: 120px;
}
  
.stationPhone2 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 210px;
  right: 120px;
}
  
.panel.one {
  position: absolute;
  margin-top: 85px;
}
  
.panel.two {
  position: absolute;
  margin-top: 85px;
  margin-left: 81px;
}
  
.panel.three {
  position: absolute;
  margin-top: 85px;
  margin-left: 162px;
}
  
.panel.four {
  position: absolute;
  margin-top: 85px;
  margin-left: 295px;
}
  
.panel.five {
  position: absolute;
  margin-top: 85px;
  margin-left: 421px;
}
  
.panel.six {
  position: absolute;
  margin-top: 85px;
  margin-left: 490px;
}
  
.panel.seven {
  position: absolute;
  margin-top: 85px;
  margin-left: 571px;
}
  
.panel {
  border: 0.1px solid rgba(212, 212, 212, 1);
  padding: 20px;
  position: fixed;
  top: 100px;
  font-size: 11.78px;
}
  
.panel1 {
  border: 0.1px solid rgba(212, 212, 212, 1);
  margin: 0;
	padding: 0;
  padding-right: 95%;
  position: relative;
  top: 149px;
  height: 54px;
}
  
.theBell {
  border: 2px solid black;
  position: relative;
  text-align: left;
  padding: 10px;
  width: 108px;
  left: 815px;
  bottom: 143px;
}
  
.basket {
  position: relative;
  text-align: right;
  bottom: 175px;
}
  
.tablet {
  border: 1px solid #636666;
  background-color: #636666;
  width: 240px;
  height: 90px;
  position: absolute;
  top: 580px;
}
.a {left: 696px;}
.text_a {
  font-size: 13px;
  margin-left: 70px;
  margin-top:15px;
  color: white;
}
.text_aa {
  font-size: 14px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.img-tablet-a {
 margin-top: -60px;
}

.b {left: 946px;}
.text_b {
  font-size: 13px;
  margin-left: 70px;
  margin-top:15px;
  color: white;
}
.text_bb {
  font-size: 14px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.img-tablet-b {
 margin-top: -60px;
}

.c {left: 1196px;}
.text_c {
  font-size: 13px;
  margin-left: 70px;
  margin-top:15px;
  color: white;
}
.text_cc {
  font-size: 14px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.img-tablet-c {
 margin-top: -60px;
}


.text_d {
  font-size: 13px;
  margin-left: 70px;
  margin-top:15px;
  color: white;
}
.text_dd {
  font-size: 14px;
  margin-left: 70px;
  margin-top: 15px;
  color: white;
}
.img-tablet-d {
 margin-top: -60px;
}