body {
  margin: 0px;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  min-width: 1100px;
}
  
.container {
  padding: 0px 30px;
  width: 1000px;
  margin: 0 auto;
  max-block-size: 10%;
}

.text1 {
  position: absolute;
  color: cornsilk;
  margin-top: -100px;
}

.text2 {
  position: relative;
  color: cornsilk;
  text-align: right;
  bottom: 83px;
}

.upPanel {
  position: top;
  margin: 0;
	padding: 0;
  background-color: #36b5ff;
  border: 18px solid #36b5ff;
}
  
.location {
  position: relative;
  text-align: right;
  right: 170px;
  bottom: 100px;
}
  
.logo {
  position: relative;
  bottom: 60px;
  text-align: left;
}
  
.workTime {
  position: relative;
  text-align: left;
  bottom: 120px;
  text-align: center;
}

.clock {
  position: relative;
  text-align: left;
  bottom: 140px;
  text-align: center;
  right: 200px;
}
  
.numberPhone2 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 175px;
}
  
.numberPhone1 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 185px;
}
  
.stationPhone1 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 220px;
  right: 120px;
}
  
.stationPhone2 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 210px;
  right: 120px;
}
  
.panel.one {
  position: absolute;
  margin-top: 85px;
}
  
.panel.two {
  position: absolute;
  margin-top: 85px;
  margin-left: 81px;
}
  
.panel.three {
  position: absolute;
  margin-top: 85px;
  margin-left: 162px;
}
  
.panel.four {
  position: absolute;
  margin-top: 85px;
  margin-left: 295px;
}
  
.panel.five {
  position: absolute;
  margin-top: 85px;
  margin-left: 421px;
}
  
.panel.six {
  position: absolute;
  margin-top: 85px;
  margin-left: 490px;
}
  
.panel.seven {
  position: absolute;
  margin-top: 85px;
  margin-left: 571px;
}
  
.panel {
  border: 0.1px solid rgba(212, 212, 212, 1);
  padding: 20px;
  position: fixed;
  top: 100px;
  font-size: 11.78px;
}
  
.panel1 {
  border: 0.1px solid rgba(212, 212, 212, 1);
  margin: 0;
	padding: 0;
  padding-right: 95%;
  position: relative;
  top: 149px;
  height: 54px;
}
  
.theBell {
  border: 2px solid black;
  position: relative;
  text-align: left;
  padding: 10px;
  width: 108px;
  left: 815px;
  bottom: 143px;
}
  
.basket {
  position: relative;
  text-align: right;
  bottom: 175px;
}
  
  /* Слайдер */
.carousel-module {
  margin-top: 100px;
  min-width: 660px;
  text-align: center;
}

.img-container {
  bottom: 300px;
  position: relative;
  height: 300px;
  width: 1000px;
  overflow: hidden;
}
  
.arrow-left {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  transition: 1s;
  border-width: 20px 10px 20px 10px;
  border-color: transparent #36b5ff transparent transparent;
  position: relative;
  right: 480px;
  bottom: 120px;
  z-index: 100;
}

.arrow-left:hover {
  background-color:#b6b6b6;
}
  
.arrow-left:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
  
.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  transition: 1s;
  border-width: 20px 10px 20px 10px;
  border-color: transparent transparent transparent #36b5ff;
  position: relative;
  left: 480px;
  bottom: 480px;
  z-index: 100;
}

.arrow-right:hover {
  background-color:#b6b6b6;
}
  
.arrow-right:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
  
.item-img {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transition: .7s;
  left: 2200px;
}

.button {
  position: relative;
  border-width: 6px 6px 6px 6px;
  border-style: solid;
  color: #36b5ff;
  width: 0;
  height: 0;
  top: -360px;
  opacity: 60%;
}

.button.one {left: 560px;}
.button.one:hover {left: 560px;opacity: 100%;}
.button.two {left: 530px;top:-372px}
.button.two:hover {left: 530px;opacity: 100%;}
.button.three {left: 500px;top:-384px}
.button.three:hover {left: 500px;opacity: 100%;}
.button.four {left: 470px;top:-396px}
.button.four:hover {left: 470px;opacity: 100%;}
.button.five {left: 440px;top:-408px}
.button.five:hover {left: 440px;opacity: 100%;}
  
.item-img:nth-of-type(1) {
  -webkit-transform: translate(-530%, -50%);
  transform: translate(-430%, -50%);
}
  
.item-img:nth-of-type(2) {
  -webkit-transform: translate(-410%, -50%);
  transform: translate(-348%, -50%);
}
  
.item-img:nth-of-type(3) {
  -webkit-transform: translate(-290%, -50%);
  transform: translate(-220%, -50%);
}
  
.item-img:nth-of-type(4) {
  -webkit-transform: translate(-170%, -50%);
  transform: translate(-120%, -50%);
}
  
.item-img:nth-of-type(5) {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-47%, -50%);
}