body {
  margin: 0;
  overflow-x: hidden;
}
  
.container {
  padding: 0px 30px;
  width: 1000px;
  margin: 0 auto;
  max-block-size: 10%;
}
  
.text1 {
  position: absolute;
  color: cornsilk;
  margin-top: -8px;
}

.text2 {
  position: relative;
  color: cornsilk;
  text-align: right;
  bottom: -9px;
}

.upPanel { 
  position: absolute;
  width: 100%;
  background-color: #36b5ff;
  border: 18px solid #36b5ff;
}
  
.location {
  position: relative;
  text-align: right;
  right: 170px;
  bottom: 9px;
}
  
.logo {
  position: relative;
  bottom: -30px;
  text-align: left;
}
  
.workTime {
  position: relative;
  text-align: left;
  bottom: 40px;
  text-align: center;
}

.clock {
  position: relative;
  text-align: left;
  bottom: 60px;
  text-align: center;
  right: 200px;
}
  
.numberPhone2 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 90px;
}
  
.numberPhone1 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 95px;
}
  
.stationPhone1 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 130px;
  right: 120px;
}
  
.stationPhone2 {
  position: relative;
  text-align: right;
  margin: 0 auto;
  bottom: 130px;
  right: 120px;
}
  
.panel.one {
  position: absolute;
  margin-top: 85px;
}
  
.panel.two {
  position: absolute;
  margin-top: 85px;
  margin-left: 81px;
}
  
.panel.three {
  position: absolute;
  margin-top: 85px;
  margin-left: 162px;
}
  
.panel.four {
  position: absolute;
  margin-top: 85px;
  margin-left: 295px;
}
  
.panel.five {
  position: absolute;
  margin-top: 85px;
  margin-left: 421px;
}
  
.panel.six {
  position: absolute;
  margin-top: 85px;
  margin-left: 490px;
}
  
.panel.seven {
  position: absolute;
  margin-top: 85px;
  margin-left: 571px;
}
  
.panel {
  border: 0.1px solid rgba(212, 212, 212, 1);
  padding: 20px;
  position: fixed;
  top: 100px;
  font-size: 11.78px;
}
  
.panel1 {
  border: 0.1px solid rgba(212, 212, 212, 1);
  padding: 27px;
  position: absolute;
  top: 185px;
  padding-right: 100%;
}
  
.theBell {
  border: 2px solid black;
  position: relative;
  text-align: left;
  padding: 10px;
  width: 108px;
  left: 815px;
  bottom: 59px;
}
  
.basket {
  position: relative;
  text-align: right;
  bottom: 90px;
}
  
  /* Слайдер */
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
  
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
  
.carousel-module {
  margin-top: 100px;
  min-width: 660px;
  text-align: center;
}

.img-container {
  left: 53px;
  position: relative;
  height: 300px;
  width: 890px;
  overflow: hidden;
}
  
.arrow-left {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  transition: 1s;
  border-width: 30px 20px 30px 0;
  border-color: transparent #000000 transparent transparent;
  position: relative;
  right: 490px;
  top: 185px;
}
  
.arrow-left:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
  
.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  transition: 1s;
  border-width: 30px 20px 30px 20px;
  border-color: transparent transparent transparent #000000;
  position: relative;
  left: 494px;
  bottom: 185px;
}
  
.arrow-right:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
  
.item-img {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transition: .7s;
  left: 2200px;
}
  
.item-img:nth-of-type(1) {
  -webkit-transform: translate(-530%, -50%);
  transform: translate(-430%, -50%);
}
  
.item-img:nth-of-type(2) {
  -webkit-transform: translate(-410%, -50%);
  transform: translate(-348%, -50%);
}
  
.item-img:nth-of-type(3) {
  -webkit-transform: translate(-290%, -50%);
  transform: translate(-247.3%, -50%);
}
  
.item-img:nth-of-type(4) {
  -webkit-transform: translate(-170%, -50%);
  transform: translate(-147%, -50%);
}
  
.item-img:nth-of-type(5) {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-47%, -50%);
}